.outer-detail{
    background-color: #181818;
    min-height: 115vh;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.upper-detail{
    display: flex;
    flex-direction: row;
    height: 36vh;
}

.left-upper-detail{
    display: flex;
    flex-direction: column;
    
}

.albumImg{
    width: 100%;
    height: 89%;
}

.right-upper-detail{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    flex-grow: 1;
    justify-content: flex-end;
    padding-left: 20px;
    color: white;
}

.lower-detail{
    padding-top: 20px;
    min-height: 60vh;
    border-color: 2px solid yellow;
}

.backBtn{
    align-self: flex-start;
    margin-bottom: 15px;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88px;
    cursor: pointer;
}

.icon{
    color: white;
    font-size: 25px;
}

.albums-table{
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-collapse: collapse;

}

td{
    border: none;
        padding: 0px;
}

th{
    text-align: left;
    padding: 20px 10px;
    border-bottom: 2px solid #475569;
    font-size: 16px;
}

tbody{
    padding: 0px 10px;
}

.rowData{
    height: 70px;
}

.rowData:hover{
    background-color: #303030;
    border-radius: 20px;
    cursor: pointer;
}

.trackNum{
    text-align: center;
}

.type{
    padding-bottom: 6px;
    font-weight: 500;
}

.albumName{
    font-weight: 700;
    font-size: 48px;
}

.artist{
    padding-top: 10px;
    font-weight: 500;
    font-size: 15px;
}